<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
  }



</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span class="error-message">ABC Bank</span>
  <div class="spacer"></div>
  <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">

    <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 400">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }

          .cls-2 {
            fill: #ffffff;
          }

        </style>
      </defs>
      <rect class="cls-1" width="400" height="400" />
      <path class="cls-2"
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" />
    </svg>

  </a> -->
</div>

<div class="content" role="main">




  <div class="body-content">
    <div class="padding-7">
      <h3 class="float-left">
        Employees
      </h3>
      <button class="float-right create-btn" (click)="createEmployee('create-edit')">Create Employee</button>
    </div>

    <div class="padding-7">
      <select class="inputSearch" [formControl]="searchProperty" (change)="onChangeProperty()">
        <option value="preferredFullName">Name</option>
        <option value="employeeCode">Employee Code</option>
        <option value="jobTitleName">Job Title Name</option>
        <option value="phoneNumber">Phone Number</option>
        <option value="emailAddress">Email Address</option>
        <option value="region">Region</option>
        <option value="dob">DOB</option>
      </select>

      <input autocomplete="off" (keyup)="searchEmployee()"
      (keypress)="searchEmployee()" [formControl]="searchPropertyValue" class="inputSearchText" type=" text" placeholder="Search"/>
    </div>

    <table>
      <thead>
          <tr>
              <th>ID</th>
              <th (click)="sortByColoumn('preferredFullName')">Full Name 
                <span class="sortIcon" 
                              [ngClass]="{'sort': column != 'preferredFullName', 
                                                  'sort-asc': (column == 'preferredFullName' && !isDesc), 
                                                  'sort-desc': (column == 'preferredFullName' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('employeeCode')">Employee Code 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'employeeCode', 
                                                  'sort-asc': (column == 'employeeCode' && !isDesc), 
                                                  'sort-desc': (column == 'employeeCode' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('jobTitleName')">Job Title 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'jobTitleName', 
                                                  'sort-asc': (column == 'jobTitleName' && !isDesc), 
                                                  'sort-desc': (column == 'jobTitleName' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('phoneNumber')">Phone Number 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'phoneNumber', 
                                                  'sort-asc': (column == 'phoneNumber' && !isDesc), 
                                                  'sort-desc': (column == 'phoneNumber' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('emailAddress')">Email ID 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'emailAddress', 
                                                  'sort-asc': (column == 'emailAddress' && !isDesc), 
                                                  'sort-desc': (column == 'emailAddress' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('region')">Region 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'region', 
                                                  'sort-asc': (column == 'region' && !isDesc), 
                                                  'sort-desc': (column == 'region' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th (click)="sortByColoumn('dob')">DOB 
                <span class="fa sortIcon" 
                              [ngClass]="{'sort': column != 'dob', 
                                                  'sort-asc': (column == 'dob' && !isDesc), 
                                                  'sort-desc': (column == 'dob' && isDesc) }"
                              aria-hidden="true"> ^ </span>
      
              </th>
              <th>Action</th>
            </tr>
      </thead>
     
      <tr *ngFor="let emp of employeePaginationList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{emp.preferredFullName}}</td>
        <td>{{emp.employeeCode}}</td>
        <td>{{emp.jobTitleName}}</td>
        <td>{{emp.phoneNumber}}</td>
        <td>{{emp.emailAddress}}</td>
        <td>{{emp.region}}</td>
        <td>{{emp.dob}}</td>
        <!-- <td>
          <button (click)="editEmployee(emp,i)">
            Edit
          </button>
          <button (click)="viewEmployee(emp,i)">
            View
          </button>
          <button (click)="deleteEmployee(emp,i)">
            Delete
          </button>
        </td> -->
        <td>
            <div class="dropdown">
                <button class="dropbtn">&#9776;</button>
                <div class="dropdown-content">
                  <a (click)="editEmployee(emp,i)">Edit</a>
                  <a (click)="viewEmployee(emp,i)">View</a>
                  <a (click)="deleteEmployee(emp,i)">Delete</a>
                </div>
              </div>
        </td>
      </tr>


      <tr class="text-center" *ngIf="employeeList.length == 0">
        No Employees in record
      </tr>





    </table>

    <div class="pagination">
        <span>
           <a (click)="setSkip(0)">
               <
             </a>
        </span>
       <span>
         Swipe
       </span>
       <span>
           <a (click)="setSkip(1)">
               >
             </a>
       </span>
     </div>



  </div>



  <!-- Create and Edit Employee -->
  <jw-modal id="create-edit">
    <h1>{{currentEmployeeData ? 'Edit' : 'Create'}} Employee</h1>
    <hr>
    <div class="auth-main">

      <div class="auth-block ">
        <form [formGroup]="registerForm">

          <div class="row100">
            <label>ID</label>
            <input autocomplete="off" formControlName="id" type=" text" placeholder="Employee Id"
              (keyup)="_keyPressAlphaNumber($event)" (keypress)="_keyPressAlphaNumber($event)" />
            <span class="error-message"
              *ngIf="registerForm.controls['id'].errors?.required && registerForm.controls['id'].touched">
              Employee Id is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['id'].errors?.pattern && registerForm.controls['id'].touched">
              Employee Id is Invalid
            </span>
          </div>

          <div class="row50">
            <label>FIRST NAME</label>
            <input  autocomplete="off" formControlName="first_name" type=" text" placeholder="First Name" />
            <span class="error-message"
              *ngIf="registerForm.controls['first_name'].errors?.minlength && registerForm.controls['first_name'].touched">
              Minimum three letter required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['first_name'].errors?.required && registerForm.controls['first_name'].touched">
              First name is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['first_name'].errors?.pattern && registerForm.controls['first_name'].touched">
              First Name is Invalid
            </span>
          </div>
          <div class="row50">
            <label>LAST NAME</label>
            <input  autocomplete="off" formControlName="last_name" type=" text" name="last_name"
              placeholder="Last Name" />
            <span class="error-message"
              *ngIf="registerForm.controls['last_name'].errors?.minlength && registerForm.controls['last_name'].touched">
              Minimum three letters required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['last_name'].errors?.required && registerForm.controls['last_name'].touched">
              Last name is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['last_name'].errors?.pattern && registerForm.controls['last_name'].touched">
              Last Name is Invalid
            </span>
          </div>
          <div class="row100">
            <label>Job Title</label>
            <input autocomplete="off" formControlName="job_title" type=" text" name="job_title"
              placeholder="Job Title" />
            <span class="error-message"
              *ngIf="registerForm.controls['job_title'].errors?.minlength && registerForm.controls['job_title'].touched">
              Minimum three letters required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['job_title'].errors?.required && registerForm.controls['job_title'].touched">
              Job Title is required
            </span>
          </div>
          <div class="row100">
            <label>EMAIL</label>
            <input autocomplete="off" matInput formControlName="email" type="email" name="email" readonly
              onfocus="this.removeAttribute('readonly');" placeholder="Email Id" />
            <span class="error-message"
              *ngIf="registerForm.controls['email'].errors?.invalid && registerForm.controls['email'].touched">
              Email is not valid
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['email'].errors?.required && registerForm.controls['email'].touched">
              Email is required
            </span>
          </div>
          <div class="row100">
            <label>PHONE NUMBER</label>
            <input autocomplete="off" formControlName="phone_no" type=" text" name="Enter Phone"
              placeholder="Phone Number" (keyup)="_keyPressAlphaNumber($event)"
              (keypress)="_keyPressAlphaNumber($event)" />
            <span class="error-message"
              *ngIf="registerForm.controls['phone_no'].errors?.required && registerForm.controls['phone_no'].touched">
              Phone Number is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['phone_no'].errors?.minlength && registerForm.controls['phone_no'].touched">
              Phone Number must have atleast 6 digits
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['phone_no'].errors?.maxlength && registerForm.controls['phone_no'].touched">
              Phone Number cannot exceed 20 digits
            </span>
          </div>

          <div class="row50">
            <label>REGION NAME</label>
            <input  autocomplete="off" formControlName="region_name" type=" text" placeholder="Region Name" />
            <span class="error-message"
              *ngIf="registerForm.controls['region_name'].errors?.minlength && registerForm.controls['region_name'].touched">
              Minimum two letter required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['region_name'].errors?.required && registerForm.controls['region_name'].touched">
              Region name is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['region_name'].errors?.pattern && registerForm.controls['region_name'].touched">
              Region Name is Invalid
            </span>
          </div>

          <div class="row50">
            <label>DOB NAME</label>
            <!-- <input autocomplete="off" formControlName="dob" type=" text" placeholder="DOB" /> -->
            <input  id="datefield" type='date' formControlName="dob" max="{{maxDate}}">


            <span class="error-message"
              *ngIf="registerForm.controls['dob'].errors?.required && registerForm.controls['dob'].touched">
              DOB is required
            </span>
            <span class="error-message"
              *ngIf="registerForm.controls['dob'].errors?.pattern && registerForm.controls['dob'].touched">
              DOB is Invalid
            </span>
          </div>




          <div style="margin-top:15px" class="row100">
            <button type="submit" class="formFullWidth" (click)="onSubmit(registerForm.value)"
              [disabled]="!registerForm.valid">Save</button>
            <button class="cancel-btn" (click)="closeModal('create-edit');">Close</button>
          </div>

        </form>
      </div>
    </div>
  </jw-modal>

  <!-- View Employee -->
  <jw-modal id="view">
    <div class="auth-main" *ngIf="currentEmployeeData">
      <div class="auth-block ">
        <h4>
          <label>{{currentEmployeeData.employeeCode}}</label>
        </h4>
        <br>
        <h1>{{currentEmployeeData.preferredFullName}}</h1>
        <hr>
        <div class="view-table text-center">
            <div class="row50">
                <div>Name</div>
              </div>
              <div class="row50">
                <div>{{currentEmployeeData.preferredFullName}}</div>
              </div>
      
              <div class="row50">
                <div>Employee Code</div>
              </div>
              <div class="row50">
                <div>{{currentEmployeeData.employeeCode}}</div>
              </div>
              <div class="row50">
                <div>Job Title</div>
              </div>
              <div class="row50">
                <div>{{currentEmployeeData.jobTitleName}}</div>
              </div>
              <div class="row50">
                <div>Phone Number</div>
              </div>
      
              <div class="row50">
                <div>{{currentEmployeeData.phoneNumber}}</div>
              </div>
      
              <div class="row50">
                <div>Email ID</div>
              </div>
      
              <div class="row50">
                <div>{{currentEmployeeData.emailAddress}}</div>
              </div>
              <div class="row50">
                <div>Region</div>
              </div>
      
              <div class="row50">
                <div>{{currentEmployeeData.region}}</div>
              </div>
              <div class="row50">
                <div>DOB</div>
              </div>
      
              <div class="row50">
                <div>{{currentEmployeeData.dob}}</div>
              </div>
        </div>

        <div style="margin-top:15px" class="row100">
            <button class="cancel-btn" (click)="closeModal('view');">Close</button>
          </div>
      </div>
    </div>

  </jw-modal>

  <!-- Delete Employee -->
  <jw-modal id="delete">
    <h1>Delete Employee</h1>
    <hr>
    <div class="auth-main" *ngIf="currentEmployeeData">
      <div class="auth-block ">
        <div class="row100">
          Do you want to delete this employee {{currentEmployeeData.preferredFullName}}?
        </div>

        <div style="margin-top:15px" class="row100">
          <button type="submit" class="formFullWidth" (click)="delete()">Delete</button>
          <button class="cancel-btn" (click)="closeModal('delete');">Close</button>
        </div>

      </div>
    </div>

  </jw-modal>




  <router-outlet></router-outlet>
