table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  thead{
    z-index: 10;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }



  .auth-main {
    height: 100%;
    width: 100%;
    .auth-block {
        color: #1e1e28;
        padding: 15px 32px;
    
      
        label {
            width: 100%;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.5;
            color: #9ea0a5;
            margin: 10px;
        }
        input {
            height: 38px;
            width: -webkit-fill-available;
            padding: 0px 11px;
            font-size: 14px;
            border-radius: 4px;
            position: relative;
            box-shadow: inset 0 1px 2px 0 rgba(102,113,123,0.21);
            border: solid 1px #e2e5ed;
            background-color: #ffffff;
        }
        span {
            font-size: 15px;
        }
        // .col-sm-12 {
        //     span {
        //         position: absolute;
        //         right: 7%;
        //         top: 45px;
        //         cursor: pointer;
        //        }
        // }
        h3 {
            margin: 10% 0 5%;
            text-align: left;
            opacity: 0.8;
            font-size: 28px;
        }
        button {
            background: royalblue;
            font-size: 12.6px;
            width: 20%;
            height: 40px;
            color: white;
            cursor: pointer;
        }
        button:disabled {
          background: gray;
      }
      .cancel-btn{
        background: red;
      }
    }
    .img-block {
        width: 30%;
        height: 100%;
        img {
            height: 100%;
        }
    }
}

.row50{
  width: 50%;
  float: left;
  margin-bottom: 5%;
}
.row100{
  width: 100%;
  margin-bottom: 5%;
}

.error-message{
  color: red;
  font-weight: bold;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.create-btn{
  height: 30px;
  background: royalblue;
  color: white;
}

.padding-7{
  padding-bottom: 7%;
}

.text-center{
  text-align: center;
}
.sortIcon {
  cursor: pointer;
  display: block;
}
.sort-asc{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
}

.sort-desc{
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari 3-8 */
  transform: rotate(0deg);
}

.view-table{
  display: flow-root;
}

.pagination{
  margin-top: 5%;
  float: right;
}
a{
  cursor: pointer;
}

.inputSearch{
  height: 30px;
}
.inputSearchText{
  height: 25px;
  margin-left: 2%;
}

.dropbtn {
  // background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

// .dropdown:hover .dropbtn {background-color: #3e8e41;}